backports.weakref==1.0.post1
bleach==3.1.4
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
html5lib==0.9999999
Markdown==2.6.10
mock==2.0.0
numpy==1.13.3
pandas==0.21.1
pbr==3.1.1
protobuf==3.5.0.post1
python-dateutil==2.6.1
pytz==2017.3
scikit-learn==0.19.1
scipy==1.10.0
six==1.11.0
tensorflow==1.15.2
tensorflow-tensorboard==0.4.0rc3
Werkzeug==0.15.3
